.comments-list {
  list-style-type: none;
}

.null-list {
  padding: 20px 0;
  margin-bottom: 15px;
  text-align: center;
  background-color: #fff;
  border-radius: 5px;
  color: #444;
  box-shadow: 0 3px 4px 0 #000;
}